ClientProxies/Service References/ArchiveServiceReference/Document.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://nexdox.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Document" targetNamespace="http://nexdox.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="http://nt-arc1-dag.nd-rainham.com/Archive-WCF/services/Document.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://nexdox.com/Imports">
      <xsd:import schemaLocation="http://nt-arc1-dag.nd-rainham.com/Archive-WCF/services/Document.svc?xsd=xsd3" namespace="http://nexdox.com" />
      <xsd:import schemaLocation="http://nt-arc1-dag.nd-rainham.com/Archive-WCF/services/Document.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/ArchiveWcfServices.DataContracts.Error" />
      <xsd:import schemaLocation="http://nt-arc1-dag.nd-rainham.com/Archive-WCF/services/Document.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://nt-arc1-dag.nd-rainham.com/Archive-WCF/services/Document.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel" />
      <xsd:import schemaLocation="http://nt-arc1-dag.nd-rainham.com/Archive-WCF/services/Document.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://nt-arc1-dag.nd-rainham.com/Archive-WCF/services/Document.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ArchiveWcfServices.DataContracts.Document" />
      <xsd:import schemaLocation="http://nt-arc1-dag.nd-rainham.com/Archive-WCF/services/Document.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ArchiveWcfServices.DataContracts" />
      <xsd:import schemaLocation="http://nt-arc1-dag.nd-rainham.com/Archive-WCF/services/Document.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDocument_DocumentSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:DocumentSearch" />
  </wsdl:message>
  <wsdl:message name="IDocument_DocumentSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocumentSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IDocument_DocumentSearch_CustomFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ArchiveWcfServices.DataContracts.Error" name="detail" element="q1:CustomFault" />
  </wsdl:message>
  <wsdl:message name="IDocument_DocumentSearchAll_InputMessage">
    <wsdl:part name="parameters" element="tns:DocumentSearchAll" />
  </wsdl:message>
  <wsdl:message name="IDocument_DocumentSearchAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocumentSearchAllResponse" />
  </wsdl:message>
  <wsdl:message name="IDocument_DocumentSearchAll_CustomFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/ArchiveWcfServices.DataContracts.Error" name="detail" element="q2:CustomFault" />
  </wsdl:message>
  <wsdl:message name="IDocument_DocumentSearchAllVerbose_InputMessage">
    <wsdl:part name="parameters" element="tns:DocumentSearchAllVerbose" />
  </wsdl:message>
  <wsdl:message name="IDocument_DocumentSearchAllVerbose_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocumentSearchAllVerboseResponse" />
  </wsdl:message>
  <wsdl:message name="IDocument_DocumentSearchAllVerbose_CustomFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/ArchiveWcfServices.DataContracts.Error" name="detail" element="q3:CustomFault" />
  </wsdl:message>
  <wsdl:message name="IDocument_DocumentSearchMap_InputMessage">
    <wsdl:part name="parameters" element="tns:DocumentSearchMap" />
  </wsdl:message>
  <wsdl:message name="IDocument_DocumentSearchMap_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocumentSearchMapResponse" />
  </wsdl:message>
  <wsdl:message name="IDocument_DocumentSearchMap_CustomFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/ArchiveWcfServices.DataContracts.Error" name="detail" element="q4:CustomFault" />
  </wsdl:message>
  <wsdl:message name="IDocument_DocumentSearchMapVerbose_InputMessage">
    <wsdl:part name="parameters" element="tns:DocumentSearchMapVerbose" />
  </wsdl:message>
  <wsdl:message name="IDocument_DocumentSearchMapVerbose_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocumentSearchMapVerboseResponse" />
  </wsdl:message>
  <wsdl:message name="IDocument_DocumentSearchMapVerbose_CustomFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/ArchiveWcfServices.DataContracts.Error" name="detail" element="q5:CustomFault" />
  </wsdl:message>
  <wsdl:message name="IDocument_DocumentSearchMulti_InputMessage">
    <wsdl:part name="parameters" element="tns:DocumentSearchMulti" />
  </wsdl:message>
  <wsdl:message name="IDocument_DocumentSearchMulti_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocumentSearchMultiResponse" />
  </wsdl:message>
  <wsdl:message name="IDocument_DocumentSearchMulti_CustomFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/ArchiveWcfServices.DataContracts.Error" name="detail" element="q6:CustomFault" />
  </wsdl:message>
  <wsdl:message name="IDocument_DocumentSearchMultiVerbose_InputMessage">
    <wsdl:part name="parameters" element="tns:DocumentSearchMultiVerbose" />
  </wsdl:message>
  <wsdl:message name="IDocument_DocumentSearchMultiVerbose_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocumentSearchMultiVerboseResponse" />
  </wsdl:message>
  <wsdl:message name="IDocument_DocumentSearchMultiVerbose_CustomFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/ArchiveWcfServices.DataContracts.Error" name="detail" element="q7:CustomFault" />
  </wsdl:message>
  <wsdl:message name="IDocument_GetDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocument" />
  </wsdl:message>
  <wsdl:message name="IDocument_GetDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IDocument_GetDocument_CustomFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/ArchiveWcfServices.DataContracts.Error" name="detail" element="q8:CustomFault" />
  </wsdl:message>
  <wsdl:message name="IDocument_GetDocumentCustomProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentCustomProperty" />
  </wsdl:message>
  <wsdl:message name="IDocument_GetDocumentCustomProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentCustomPropertyResponse" />
  </wsdl:message>
  <wsdl:message name="IDocument_GetDocumentCustomProperty_CustomFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/ArchiveWcfServices.DataContracts.Error" name="detail" element="q9:CustomFault" />
  </wsdl:message>
  <wsdl:message name="IDocument_GetApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplication" />
  </wsdl:message>
  <wsdl:message name="IDocument_GetApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IDocument_GetApplication_CustomFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/ArchiveWcfServices.DataContracts.Error" name="detail" element="q10:CustomFault" />
  </wsdl:message>
  <wsdl:message name="IDocument_IndexAppSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:IndexAppSearch" />
  </wsdl:message>
  <wsdl:message name="IDocument_IndexAppSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:IndexAppSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IDocument_IndexAppSearch_CustomFaultFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/ArchiveWcfServices.DataContracts.Error" name="detail" element="q11:CustomFault" />
  </wsdl:message>
  <wsdl:portType name="IDocument">
    <wsdl:operation name="DocumentSearch">
      <wsdl:input wsaw:Action="http://nexdox.com/IDocument/DocumentSearch" message="tns:IDocument_DocumentSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://nexdox.com/IDocument/DocumentSearchResponse" message="tns:IDocument_DocumentSearch_OutputMessage" />
      <wsdl:fault wsaw:Action="http://nexdox.com/IDocument/DocumentSearchCustomFaultFault" name="CustomFaultFault" message="tns:IDocument_DocumentSearch_CustomFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DocumentSearchAll">
      <wsdl:input wsaw:Action="http://nexdox.com/IDocument/DocumentSearchAll" message="tns:IDocument_DocumentSearchAll_InputMessage" />
      <wsdl:output wsaw:Action="http://nexdox.com/IDocument/DocumentSearchAllResponse" message="tns:IDocument_DocumentSearchAll_OutputMessage" />
      <wsdl:fault wsaw:Action="http://nexdox.com/IDocument/DocumentSearchAllCustomFaultFault" name="CustomFaultFault" message="tns:IDocument_DocumentSearchAll_CustomFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DocumentSearchAllVerbose">
      <wsdl:input wsaw:Action="http://nexdox.com/IDocument/DocumentSearchAllVerbose" message="tns:IDocument_DocumentSearchAllVerbose_InputMessage" />
      <wsdl:output wsaw:Action="http://nexdox.com/IDocument/DocumentSearchAllVerboseResponse" message="tns:IDocument_DocumentSearchAllVerbose_OutputMessage" />
      <wsdl:fault wsaw:Action="http://nexdox.com/IDocument/DocumentSearchAllVerboseCustomFaultFault" name="CustomFaultFault" message="tns:IDocument_DocumentSearchAllVerbose_CustomFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DocumentSearchMap">
      <wsdl:input wsaw:Action="http://nexdox.com/IDocument/DocumentSearchMap" message="tns:IDocument_DocumentSearchMap_InputMessage" />
      <wsdl:output wsaw:Action="http://nexdox.com/IDocument/DocumentSearchMapResponse" message="tns:IDocument_DocumentSearchMap_OutputMessage" />
      <wsdl:fault wsaw:Action="http://nexdox.com/IDocument/DocumentSearchMapCustomFaultFault" name="CustomFaultFault" message="tns:IDocument_DocumentSearchMap_CustomFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DocumentSearchMapVerbose">
      <wsdl:input wsaw:Action="http://nexdox.com/IDocument/DocumentSearchMapVerbose" message="tns:IDocument_DocumentSearchMapVerbose_InputMessage" />
      <wsdl:output wsaw:Action="http://nexdox.com/IDocument/DocumentSearchMapVerboseResponse" message="tns:IDocument_DocumentSearchMapVerbose_OutputMessage" />
      <wsdl:fault wsaw:Action="http://nexdox.com/IDocument/DocumentSearchMapVerboseCustomFaultFault" name="CustomFaultFault" message="tns:IDocument_DocumentSearchMapVerbose_CustomFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DocumentSearchMulti">
      <wsdl:input wsaw:Action="http://nexdox.com/IDocument/DocumentSearchMulti" message="tns:IDocument_DocumentSearchMulti_InputMessage" />
      <wsdl:output wsaw:Action="http://nexdox.com/IDocument/DocumentSearchMultiResponse" message="tns:IDocument_DocumentSearchMulti_OutputMessage" />
      <wsdl:fault wsaw:Action="http://nexdox.com/IDocument/DocumentSearchMultiCustomFaultFault" name="CustomFaultFault" message="tns:IDocument_DocumentSearchMulti_CustomFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DocumentSearchMultiVerbose">
      <wsdl:input wsaw:Action="http://nexdox.com/IDocument/DocumentSearchMultiVerbose" message="tns:IDocument_DocumentSearchMultiVerbose_InputMessage" />
      <wsdl:output wsaw:Action="http://nexdox.com/IDocument/DocumentSearchMultiVerboseResponse" message="tns:IDocument_DocumentSearchMultiVerbose_OutputMessage" />
      <wsdl:fault wsaw:Action="http://nexdox.com/IDocument/DocumentSearchMultiVerboseCustomFaultFault" name="CustomFaultFault" message="tns:IDocument_DocumentSearchMultiVerbose_CustomFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocument">
      <wsdl:input wsaw:Action="http://nexdox.com/IDocument/GetDocument" message="tns:IDocument_GetDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://nexdox.com/IDocument/GetDocumentResponse" message="tns:IDocument_GetDocument_OutputMessage" />
      <wsdl:fault wsaw:Action="http://nexdox.com/IDocument/GetDocumentCustomFaultFault" name="CustomFaultFault" message="tns:IDocument_GetDocument_CustomFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentCustomProperty">
      <wsdl:input wsaw:Action="http://nexdox.com/IDocument/GetDocumentCustomProperty" message="tns:IDocument_GetDocumentCustomProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://nexdox.com/IDocument/GetDocumentCustomPropertyResponse" message="tns:IDocument_GetDocumentCustomProperty_OutputMessage" />
      <wsdl:fault wsaw:Action="http://nexdox.com/IDocument/GetDocumentCustomPropertyCustomFaultFault" name="CustomFaultFault" message="tns:IDocument_GetDocumentCustomProperty_CustomFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplication">
      <wsdl:input wsaw:Action="http://nexdox.com/IDocument/GetApplication" message="tns:IDocument_GetApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://nexdox.com/IDocument/GetApplicationResponse" message="tns:IDocument_GetApplication_OutputMessage" />
      <wsdl:fault wsaw:Action="http://nexdox.com/IDocument/GetApplicationCustomFaultFault" name="CustomFaultFault" message="tns:IDocument_GetApplication_CustomFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="IndexAppSearch">
      <wsdl:input wsaw:Action="http://nexdox.com/IDocument/IndexAppSearch" message="tns:IDocument_IndexAppSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://nexdox.com/IDocument/IndexAppSearchResponse" message="tns:IDocument_IndexAppSearch_OutputMessage" />
      <wsdl:fault wsaw:Action="http://nexdox.com/IDocument/IndexAppSearchCustomFaultFault" name="CustomFaultFault" message="tns:IDocument_IndexAppSearch_CustomFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Document">
    <wsdl:port name="BasicHttpBinding_IDocument" binding="i0:BasicHttpBinding_IDocument">
      <soap:address location="http://nt-arc1-dag.nd-rainham.com/Archive-WCF/services/Document.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>