ClientProxies/Service References/OneStepServiceReference/FileService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dev.nexdox.com/OnestepServices/Services/FileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OneStepWcfServices.Contracts" />
  <xs:element name="GetFileStatusInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="companyCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileStatusInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OneStepWcfServices.Contracts" minOccurs="0" name="GetFileStatusInfoResult" nillable="true" type="q1:ArrayOfFileStatusData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>