ArchiveServiceFactory/Service References/ArchiveService/Document4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ArchiveWcfServices.DataContracts.Document" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ArchiveWcfServices.DataContracts.Document" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthenticationData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Destination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginatingUser" nillable="true" type="xs:string" />
      <xs:element name="PassToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationData" nillable="true" type="tns:AuthenticationData" />
</xs:schema>