ArchiveServiceFactory/Service References/ArchiveService/Document.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ArchiveWcfServices.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ArchiveWcfServices.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nt-arc1-dag.nd-rainham.com/Archive-WCF/services/Document.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://nt-arc1-dag.nd-rainham.com/Archive-WCF/services/Document.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="DocumentSearchResultsData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentList" nillable="true" type="tns:ArrayOfIndexedDocumentData" />
      <xs:element minOccurs="0" name="DocumentsFoundOverLimit" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MoreRecords" type="xs:int" />
      <xs:element minOccurs="0" name="RecordsFound" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRecordsFound" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentSearchResultsData" nillable="true" type="tns:DocumentSearchResultsData" />
  <xs:complexType name="ArrayOfIndexedDocumentData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IndexedDocumentData" nillable="true" type="tns:IndexedDocumentData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIndexedDocumentData" nillable="true" type="tns:ArrayOfIndexedDocumentData" />
  <xs:complexType name="IndexedDocumentData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicationId" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AttachedDocuments" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="BatchId" type="xs:long" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DeliveryPoints" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileBase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileExtension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasIndexes" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="ImportDate" type="xs:dateTime" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Indexes" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="IsApproved" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCompressed" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="MappedIndexes" nillable="true" type="tns:ArrayOfIndexMapped" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PageJumps" nillable="true" type="q4:ArrayOfstring" />
      <xs:element minOccurs="0" name="PageStart" type="xs:int" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Resources" nillable="true" type="q5:ArrayOfstring" />
      <xs:element minOccurs="0" name="Size" type="xs:long" />
      <xs:element minOccurs="0" name="ValidFrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ValidTo" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IndexedDocumentData" nillable="true" type="tns:IndexedDocumentData" />
  <xs:complexType name="ArrayOfIndexMapped">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IndexMapped" nillable="true" type="tns:IndexMapped" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIndexMapped" nillable="true" type="tns:ArrayOfIndexMapped" />
  <xs:complexType name="IndexMapped">
    <xs:sequence>
      <xs:element minOccurs="0" name="IndexName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndexValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IndexMapped" nillable="true" type="tns:IndexMapped" />
  <xs:complexType name="ArrayOfIndexSearchCriteraData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IndexSearchCriteraData" nillable="true" type="tns:IndexSearchCriteraData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIndexSearchCriteraData" nillable="true" type="tns:ArrayOfIndexSearchCriteraData" />
  <xs:complexType name="IndexSearchCriteraData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IndexSearchCriteraData" nillable="true" type="tns:IndexSearchCriteraData" />
  <xs:complexType name="DocumentSearchResultsIndexedData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentList" nillable="true" type="tns:ArrayOfIndexedDocumentData" />
      <xs:element minOccurs="0" name="DocumentsFoundOverLimit" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MoreRecords" type="xs:int" />
      <xs:element minOccurs="0" name="RecordsFound" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRecordsFound" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentSearchResultsIndexedData" nillable="true" type="tns:DocumentSearchResultsIndexedData" />
  <xs:complexType name="ArrayOfIndexNameCriteriaData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IndexNameCriteriaData" nillable="true" type="tns:IndexNameCriteriaData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIndexNameCriteriaData" nillable="true" type="tns:ArrayOfIndexNameCriteriaData" />
  <xs:complexType name="IndexNameCriteriaData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndexName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IndexNameCriteriaData" nillable="true" type="tns:IndexNameCriteriaData" />
  <xs:complexType name="ArrayOfIndexIdCriteriaData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IndexIdCriteriaData" nillable="true" type="tns:IndexIdCriteriaData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIndexIdCriteriaData" nillable="true" type="tns:ArrayOfIndexIdCriteriaData" />
  <xs:complexType name="IndexIdCriteriaData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndexId" type="xs:int" />
      <xs:element minOccurs="0" name="SearchValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IndexIdCriteriaData" nillable="true" type="tns:IndexIdCriteriaData" />
  <xs:complexType name="ApplicationInfoData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Indexes" nillable="true" type="tns:ArrayOfIndexDefinitionData" />
      <xs:element minOccurs="0" name="IsDam" type="xs:boolean" />
      <xs:element minOccurs="0" name="StreamName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationInfoData" nillable="true" type="tns:ApplicationInfoData" />
  <xs:complexType name="ArrayOfIndexDefinitionData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IndexDefinitionData" nillable="true" type="tns:IndexDefinitionData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIndexDefinitionData" nillable="true" type="tns:ArrayOfIndexDefinitionData" />
  <xs:complexType name="IndexDefinitionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DropDownKeyValuePair" nillable="true" type="tns:ArrayOfDropDownItemData" />
      <xs:element minOccurs="0" name="IndexColumnId" type="xs:int" />
      <xs:element minOccurs="0" name="IndexName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserInterfaceXmlSettings" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Visible" type="xs:boolean" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IndexDefinitionData" nillable="true" type="tns:IndexDefinitionData" />
  <xs:complexType name="ArrayOfDropDownItemData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DropDownItemData" nillable="true" type="tns:DropDownItemData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDropDownItemData" nillable="true" type="tns:ArrayOfDropDownItemData" />
  <xs:complexType name="DropDownItemData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DropDownItemData" nillable="true" type="tns:DropDownItemData" />
</xs:schema>